/* Custom color theme properties */
:root {
  --f7-theme-color: #485b88;
  --f7-theme-color-rgb: 72, 91, 136;
  --f7-theme-color-shade: #3a496d;
  --f7-theme-color-tint: #566da3;
}

/* Your app custom styles here */
.page {
  background: url(../assets/new-bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}


.animate__animated {
    visibility: visible;
}

.hidden {
    visibility: hidden !important;
    z-index: 0;
    opacity: 0;
}

.visible {
    visibility: visible !important;
    z-index: 10;
    opacity: 1;
}

.animate__animated.animate__fadeInLeft,
.animate__animated.animate__fadeOutLeft {
    --animate-duration: 1s;
}

.animate__animated.animate__zoomIn {
    --animate-duration: .25;
}

.animate__animated.animate__zoomOut {
    --animate-duration: .25;
}

.navbar a.link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.logo {
    width: 100%;
}

.bar{
    display: flex;
	flex-wrap: wrap;
    bottom: 0;
    background-color: white;
    width: 100%;
    z-index: 1000;
    position: fixed;
    align-items: center;
    justify-content: center;
    -webkit-filter: drop-shadow(0px -1px 2px rgb(92, 92, 92));
}

.bar > div {
	flex-grow: 1;
	width: 33%;
    padding:18px 0 15px 0;
    text-align: center;
}
.bar .right{
    text-align:right;
    padding-right:20px;
}
.bar .left{
    text-align:left;
    padding-left:20px;
}
.bar .title {
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-shrink: 10;
    font-weight: var(--f7-navbar-title-font-weight);
    display: inline-block;
    line-height: var(--f7-navbar-title-line-height);
    text-align: var(--f7-navbar-title-text-align);
    font-size: 20px;
    margin-left: var(--f7-navbar-title-margin-left);
    margin-right: var(--f7-navbar-title-margin-left);
    text-align: left;
}

.bar .back-btn-div {
    width: 32%;
}

.bar .choose-div {
    display: flex;
}
